.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 40px;
    background-color: #ECF4E8;
    color: #333;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
    gap: 40px;
}

/* LEFT SIDE */
.about-image img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(5, 157, 222, 0.5);
    transition: transform 0.3s ease;
}

.about-image img:hover {
    transform: scale(1.05);
}

/* RIGHT SIDE */
.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #222;
}

.about-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
}


/* responsive */
@media (max-width: 900px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 600px) {
    .about-image img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 400px) {
    .about-image img {
        width: 150px;
        height: 150px;
    }
}
